body {
  font-family: "Markazi Text";
}

.App {
  text-align: center;
}

.primary-bcolor-1 {
  background: #495e57;
}
.primary-bcolor-2 {
  background: #f4ce14;
}
.secondary-bcolor-1 {
  background: #ee9972;
}
.secondary-bcolor-2 {
  background: #fbdabb;
}
.secondary-bcolor-3 {
  background: #edefee;
}

.secondary-color-3 {
  color: #edefee;
}

.primary-color-1 {
  color: #495e57;
}
.primary-color-2 {
  color: #f4ce14;
}

.hero-section {
  padding: 20px 0;
}

.title {
  font-size: 64pt;
  padding: 0;
  margin: 0;
}
.subtitle {
  font-size: 40pt;
  padding: 0;
  margin: 0;
}

.description {
  width: 250px;
  font-size: 18pt;
}

.imgInXS {
  bottom: -60px;
  width: 250px;
  height: 250px;
  border-radius: 24px;
  position: absolute;
}

.special-section,
.about-section,
.testimonials-section,
.footer {
  padding: 100px 0px;
}

.testimonials-section {
  background: #33333340;
}

.specials-section-article {
  width: 280px;
}

.specials-section-article .price {
  color: red;
}

.about-section .description {
  width: 250px;
}

.about-section div {
  position: relative;
}

.about-section img {
  width: 200px;
  height: 250px;

  border-radius: 24px;
  position: absolute;
}
.marioAndrianImg1 {
  right: -100px;
  top: 100px;
}
.marioAndrianImg2 {
  right: -225px;
}

.footer {
  padding-bottom: 0px;
  background: #333333;
}
.footer img {
  width: 150px;
}

.footer a,
.footer h2,
.footer h4 {
  color: #edefee;
}
.booking-form-section {
  padding: 20px;
}

.booking-form-section .card-booking {
  width: 250px;
  padding: 18px;
}
